
.card {
  font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin:auto;
    right:100px;
    top: 300px;
    text-align: center;
}
.card2 {
  font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin:500px;
    left:100px;
    top:100px;
    text-align: center;
}
.header {

  .logout-button, 
  .welcome {
    display: none;
  }

  &.state-logged-in {
    .logout-button, 
    .welcome {
      display: block;
    }    
  }
  
}

.user-authorization {
  padding: 10px;
  background-color: #DDD;

  .login-form {
    &.state-hidden {
      display: none;
    }
  }

  .login-user {
    &.state-hidden {
      display: none;
    }
  }

}


// DEMO Purposes only
* {
  font-family: sans-serif;
}




